:root {
  font-size: 16px;

  --primary: #84e4d4;
  --secondary: #5a44e5;
  --body-color: white;
  --bg-color: #151627;
  --bg-color2: #1b2431;
  --glow: #ffffffab;

  /* bg gradients */
  --grad1: #a93300;
  --grad2: #005570;
  --grad3: #00d5c8;
  --grad4: #2200aa;
}

:root.light-mode {
  --primary: #28a1a1;
  --body-color: #0e0c0c;
  --bg-color: #f0f0f0;
  --bg-color2: #ffffff;

  /* bg gradients */
  --grad1: #fd795fad;
  --grad2: #a4b320e7;
  --grad3: #ffffff;
  --grad4: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--body-color);
  font-family: "Space Mono", sans-serif;
  font-size: 1rem;
  overscroll-behavior-y: none;
}

body.fixed {
  position: fixed;
}

hr {
  /* border: none; */
  border-top: 0.2rem;
  border-color: var(--primary);
  width: 100%;
  margin: 1rem 0 2rem;
}

/* ==========
   TYPOGRAPHY
   ========== */

h2 {
  color: var(--primary);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  h3 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 3rem;
  }
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 250ms ease;
}

a:hover {
  color: var(--body-color);
  transition: color 500ms ease;
}

.work-type {
  /* color: var(--body-color); */
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .skills {
    justify-content: flex-start;
  }
}

.skill {
  text-transform: uppercase;
  font-size: 0.8rem;
  border: var(--primary) solid 0.05rem;
  color: var(--primary);
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  margin: 0.3rem 0.5rem 0.3rem 0;
}

@media screen and (min-width: 800px) {
  .skill {
    font-size: 0.9rem;
  }
}

/* ======
   HEADER
   ====== */

h1 {
  font-size: 0.9rem;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  transition: font-size 500ms ease;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 1.2rem;
  }
}

header {
  color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  height: 4.2rem;
  background: transparent;
  z-index: 101;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  overflow: hidden;
  transition: all 550ms ease;
}

header > nav > ul > li > a {
  color: #ffffff;
}

@media screen and (min-width: 800px) {
  header {
    padding: 0 4rem;
    height: 6rem;
  }
}

header.scrolled {
  background: var(--bg-color);
  color: var(--primary);
  height: 3rem;
}

@media screen and (min-width: 800px) {
  header.scrolled {
    height: 3.6rem;
  }
}

header.scrolled > nav > ul > li > a {
  color: var(--primary);
}

header.nav-open,
header.nav-open > nav > ul > li > a {
  color: var(--primary);
}

/* ==========
   NAVIGATION
   ========== */

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  line-height: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  nav ul {
    display: none;
  }
}

nav ul li a {
  transition: all 500ms ease;
  cursor: pointer;
  margin: 0;
}

nav ul li a:hover {
  color: #ffffff;
  filter: drop-shadow(0 0 0.3em var(--glow));
  transition: all 500ms ease;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #ffffff;
  transition: all 350ms ease;
  transform: scale(0, 1);
  bottom: 0;
  left: 0;
}

nav ul li a:hover::after {
  transform: scale(1, 1);
}

header.scrolled > nav > ul > li > a::after {
  background-color: var(--primary);
}

svg {
  cursor: pointer;
}

/* ==========
   MOBILE NAV 
   ========== */

#hamburger {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-evenly;
  width: 2.4rem;
  height: 1.9rem;
  padding: 0;
  background: none;
  border: none;
}

#hamburger .line {
  width: 2.4rem;
  height: 0.1rem;
  background-color: #ffffff;
  border-radius: 10%;
  transition: all 350ms ease;
}

header.scrolled > nav > #hamburger .line {
  background-color: var(--primary);
}

header.nav-open > nav > #hamburger .line {
  background-color: var(--primary);
}

#hamburger.open {
  justify-content: center;
  align-items: center;
}

#hamburger.open .line-1 {
  transform: rotate(220deg) translateX(-0.1rem);
  transition: all 350ms ease;
}

#hamburger.open .line-2 {
  transform: rotate(-40deg) translateX(0.1rem);
  transition: all 350ms ease;
}

#mobile-nav {
  height: 0;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  background: var(--bg-color);
  /* background: linear-gradient(var(--bg-color) 45%, var(--bg-color2) 85%); */
  overflow-x: hidden;
  transition: all 500ms ease;
}

#mobile-nav.open {
  height: 100vh;
  transition: all 250ms ease;
}

.mobile-nav-list {
  list-style: none;
  font-size: 2.2rem;
  line-height: 4rem;
}

@media screen and (min-width: 800px) {
  #hamburger,
  #mobile-nav {
    display: none;
  }
}

.mobile-nav-list {
  list-style: none;
  font-size: 2.2rem;
  line-height: 4rem;
}

.mobile-nav-list > li > a {
  cursor: pointer;
  transition: all 500ms ease;
}

.mobile-nav-list > li > a:hover {
  filter: drop-shadow(0 0 0.2em var(--glow));
  transition: all 500ms ease;
}

.mobile-nav-list > li > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  left: 0;
  bottom: 0rem;
  background-color: var(--body-color);
  transition: all 500ms ease;
  transform: scale(0, 1);
}

.mobile-nav-list > li > a:hover::after {
  transform: scale(1, 1);
  transition: all 250ms ease;
}

/* =======
   BUTTONS
   ======= */

.styled-button {
  margin: 1rem 0;
  font-family: "Space Mono", monospace;
  background: var(--secondary);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 500ms ease;
  padding: 0.4rem 1.4rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.styled-button:hover {
  background: var(--primary);
  box-shadow: 0 0.25rem 0.01rem var(--secondary), 0 0 0.4rem var(--glow),
    0 0 0.5rem var(--glow) inset;
  transform: translateY(-0.25rem);
  transition: all 250ms ease;
  color: var(--bg-color);
}

.contact-button {
  font-size: 1.2rem;
  padding: 0.6rem 2.2rem;
  border-radius: 6px;
  animation: glow 4000ms alternate infinite ease-in-out;
}

@keyframes glow {
  0% {
    background-color: var(--secondary);
  }
  100% {
    background-color: #9000ff;
  }
}

@media screen and (min-width: 800px) {
  .contact-button {
    font-size: 1.4rem;
    padding: 0.7rem 2rem;
  }
}

.contact-button:hover {
  animation: none;
  background-color: var(--primary);
  box-shadow: 0 0.25rem 0.01rem var(--secondary), 0 0 0.5rem var(--glow),
    0 0 0.4rem var(--glow) inset;
}

/* ============
   HERO SECTION
   ============ */

.hero-bio {
  overflow: hidden;
}

/* HERO BACKGROUND */

.background-gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(
      111% 111% at 74.29% -11%,
      var(--grad1) 0%,
      var(--grad2) 100%
    ),
    linear-gradient(127.43deg, var(--grad3) 0%, var(--grad4) 100%);
  background-blend-mode: difference, normal;
  z-index: -2;
  object-fit: cover;
}

.hero {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin-bottom: -16rem;
}

@media screen and (min-width: 800px) {
  .hero {
    margin-bottom: 0;
    min-height: 100vh;
  }
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: scale(1.2);
}

@media screen and (max-width: 800px) {
  .background,
  .background-gradient {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }
}

.stars {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform-origin: 50% 50%;
  animation: stars-rotate 20000ms ease-in-out alternate infinite;
}

@keyframes stars-rotate {
  0% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

.stars-bg {
  position: relative;
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.stars-bg-2 {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  animation: stars2 7000ms infinite alternate ease-in-out;
}

.stars-bg-3 {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  animation: stars2 10000ms infinite alternate-reverse ease-in-out;
}

@keyframes stars2 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* HERO FOREGROUND */

#louis {
  position: relative;
  width: 75%;
  max-width: 500px;
  z-index: 4;
  animation: louis-float 20000ms infinite alternate ease-in-out;
}

@keyframes louis-float {
  0% {
    /* transform: rotate(5deg); */
  }
  25% {
    /* transform: translateY(-1rem); */
  }
  50% {
    transform: rotate(10deg) translateX(-1rem);
  }
  /* 75% {
    transform: translateY(1rem);
  } */
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 600px) {
  #louis {
    left: 5rem;
  }
}

#space-ship {
  position: absolute;
  height: 50%;
  z-index: 3;
  top: 0;
  left: -4rem;
}

@media screen and (min-width: 600px) {
  #space-ship {
    left: 5%;
    width: 1000px;
    height: 100%;
  }
}

/* ============
   WAVE SECTION
   ============ */

.wave-wrapper {
  width: 110vw;
  height: 38rem;
  filter: drop-shadow(0 1rem 2rem var(--primary));
  position: relative;
  bottom: 0rem;
  z-index: 5;
  margin-bottom: -18rem;
}

.wave-mask {
  width: 100%;
  overflow: hidden;
  position: relative;
  bottom: 0;
  height: 38rem;
  background-color: var(--bg-color);
  mask-image: url("https://raw.githubusercontent.com/sroemermann/sroemermann.github.io/main/img/bg/wave.png");
  mask-size: cover;
  mask-position: center;
  /* -webkit-mask-image: url("https://raw.githubusercontent.com/sroemermann/sroemermann.github.io/main/img/bg/wave.png"); */
}

/* ===========
   BIO SECTION
   =========== */

.about-me {
  position: relative;
  /* top: 2rem; */
  background-color: var(--bg-color);
  min-height: 50vh;
  padding: 1rem;
  z-index: 6;
}

.bio-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  min-height: 70vh;
}

@media screen and (min-width: 600px) {
  .about-me {
    padding: 2rem;
  }

  .bio-section {
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
  }

  .section-header {
    column-span: 2;
  }
}

/* ============
   WORK SECTION
   ============ */

.work-section {
  background: repeating-linear-gradient(
    135deg,
    var(--bg-color2) 0px,
    var(--bg-color2) 3px,
    var(--bg-color) 3px,
    var(--bg-color) 16px
  );
  background-attachment: fixed;
}

.work-section-intro {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 4rem 4rem;
}

@media screen and (min-width: 800px) {
  .work-section-intro {
    padding: 8rem 4rem 4rem;
  }
}

.work-section-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .work-section-intro-container {
    width: 60%;
    min-width: 400px;
  }
}

.check-it-out {
  color: var(--body-color);
  text-align: center;
  font-size: 2rem;
  font-style: italic;
}

/* BROADWAY PERIO SECTION  */

.broadway-perio-section {
  padding: 2rem 1rem;
  min-height: 70vh;
}

@media screen and (min-width: 800px) {
  .broadway-perio-section {
    padding: 4rem;
    min-height: 90vh;
    margin: 0;
  }
}

.website-section {
  padding: 3rem;
  min-height: 70vh;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background: var(--bg-color);
}

@media screen and (min-width: 800px) {
  .website-section {
    border-radius: 40px;
    min-height: 100vh;
  }
}

@media screen and (min-width: 1000px) {
  .website-section {
    flex-direction: row;
  }
}

.website-description {
  text-align: center;
  top: 0;
  z-index: 50;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .website-description {
    margin: 2rem;
    width: 30vw;
    text-align: left;
    max-width: 430px;
  }
}

/* ======== 
   COMPUTER
   ======== */

.computer {
  position: relative;
  width: clamp(300px, 80%, 900px);
  aspect-ratio: 4 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 2rem;
  gap: unset;
}

@media screen and (min-width: 1000px) {
  .computer {
    /* width: clamp(42rem, 50vw, 54rem); */
    /* top: 4rem; */
  }
}

/* .computer::before,
.computer::after {
  position: absolute;
  content: "";
  background: black;
  width: 30%;
  height: 20%;
}
.computer::before {
  top: 20%;
  left: 25%;
  box-shadow: -4em -2em 8em #fff98b;
}
.computer::after {
  bottom: 45%;
  right: 30%;
  box-shadow: 4em 2em 8em #fff98b;
}

@media screen and (min-width: 1000px) {
  .computer::before {
    top: 18%;
    left: 18%;
  }
  .computer::after {
    bottom: 38%;
    right: 25%;
  }
} */

.monitor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  /* aspect-ratio: 16 / 9; */
  width: 100%;
  height: 90%;
  z-index: 1;
  top: 0rem;
  border-radius: 5% / 7%;
  background: linear-gradient(90deg, #c6c6d5, #fdfdfd);
  box-shadow: 0 0 2rem #00000026;
}

.bevel {
  display: flex;
  background: linear-gradient(
    135deg,
    #414141,
    #1f1f1f 45%,
    #1f1f1f 55%,
    #414141
  );
  overflow: auto;
  aspect-ratio: 1.8 / 1;
  width: 100%;
  height: 84%;
  z-index: 1;
  margin: 0 auto 0 auto;
  border-radius: 4% 4% 0 0 / 6% 6% 0 0;
  align-items: center;
  justify-content: center;
}

#bp-screen {
  position: static;
  width: 91%;
  height: 84%;
  z-index: 1;
  align-self: center;
  background-image: url("./img/computer/bp-hero.jpg");
  background-size: cover;
  border-radius: 2px;
}

#bp-screen.fadeOut {
  opacity: 0;
  transition: opacity ease 350ms;
}

.computer-logo {
  width: 5%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #3c3c3c;
  margin: 3% auto;
}

.computer-stand {
  position: relative;
  top: 0rem;
  --c: 20px;
  width: 27%;
  aspect-ratio: 3/1;
  mask: radial-gradient(
      var(--c) 82% at var(--c) 10%,
      #0000 calc(100% - 2px),
      #000
    )
    calc(-1 * var(--c)) 0;

  background: linear-gradient(
    #c6c6d5 10%,
    #fdfdfd 70%,
    #fdfdfd 92%,
    #c6c6d5 94%,
    #c6c6d5 100%
  );
  box-shadow: 0 0 3rem #04072c2f;
}

@media screen and (min-width: 900px) {
  .computer-stand {
    --c: 30px;
    width: 27%;
    mask: radial-gradient(
        var(--c) 82% at var(--c) 10%,
        #0000 calc(100% - 1px),
        #000
      )
      calc(-1 * var(--c)) 0;
  }
}

/* JAVA APPLICATION SECTION */

.guitar-store-section {
  /* background-color: var(--bg-color); */
  padding: 2rem 1rem 4rem;
  /* min-height: 70vh; */
}

@media screen and (min-width: 800px) {
  .guitar-store-section {
    padding: 4rem 4rem 8rem;
    min-height: 70vh;
    margin: 0;
  }
}

.java-section {
  color: #ffffff;
  padding: 3rem 0;
  min-height: 50vh;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(
      rgba(80, 80, 80, 0.6),
      rgba(60, 60, 60, 0.6)
    ),
    url("img/computer/java-code-small.jpg");
  background-size: cover;
}

@media screen and (min-width: 800px) {
  .java-section {
    background-attachment: fixed;
    border-radius: 40px;
    min-height: 60vh;
  }
}

.java-section > .work-description > .skills {
  justify-content: center;
}

/* ===============
   CONTACT SECTION
   =============== */

.contact-section {
  background-color: var(--bg-color);
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: var(--bg-color); */
}

@media screen and (min-width: 800px) {
  .contact-section {
    padding: 2rem;
    height: 100vh;
  }
}

.contact {
  min-height: 60vh;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

@media screen and (min-width: 800px) {
  .contact {
    padding: 2rem;
  }
}

.contact-info-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info {
}

.contact-louis-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  min-width: 300px;
}

.contact-louis {
  aspect-ratio: 1/1;
  width: 160px;
  height: 160px;
  background-color: var(--secondary);
  /* object-fit: cover; */
  background-image: url("img/pug/louis.png");
  background-position: 44% 11%;
  background-size: 209%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social-icons {
  display: flex;
  flex-direction: row;
  /* color: var(--body-color); */
  font-size: 3rem;
  gap: 2rem;
}

#contact-email {
  font-size: 1.3rem;
  margin: 0;
  cursor: pointer;
  transition: all 500ms ease;
  color: var(--primary);
}

#contact-email::after {
  content: "";
  display: flex;
  align-self: center;
  position: absolute;
  width: 100%;
  height: 0.1rem;
  transform: scale(0, 1);
  bottom: 0;
  left: 0;
  background-color: var(--body-color);
  transition: all 500ms ease;
}

@media screen and (min-width: 600px) {
  #contact-email {
    font-size: 1.8rem;
  }
  #contact-email::after {
    height: 0.2rem;
  }
}

@media screen and (min-width: 800px) {
  #contact-email {
    font-size: 2.2rem;
  }
}

#contact-email:hover {
  filter: drop-shadow(0 0 0.2em var(--glow));
  transition: all 500ms ease;
  color: var(--body-color);
}

#contact-email:hover::after {
  transition: all 250ms ease;
  transform: scale(1, 1);
}

#copied {
  margin-left: 2rem;
  font-style: italic;
}

.social-links {
  color: var(--body-color);
}

.social-links:hover {
  color: var(--primary);
}
